<h1>Welcome to the change computer!</h1>
<form class="form-control" action="/change">
  <div class="form-group">
    <label for="cents_input">Enter the amount of money in cents</label>
    <input type="text" name="cents_input">
  </div>
  <button type="submit" class="btn-primary" name="button">Make Change</button>
</form>
